div#total{
    width: 980px;
    height: auto;
    margin: auto;
}
header#topo{
    width: 100%;
    height: auto;
    float: left;
    background-color:sandybrown;

}
figure#logotipo{
    width: 204px;
    height: 84px;
    margin: 20px auto;
}
nav#menu{
    width: 100%;    
    height: 40px;
    background-color: black;
    float: left;
    text-align: center;
    border-radius: 5px;
}
nav#menu a{
    color: white;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    margin: 0 25px;
    text-transform: uppercase;
}
nav#menu a:hover{
    text-decoration: underline;
}
figure#banner{
    width: 100%;
    height: auto;
    float: left;
    margin-left: 0;
    margin-top: 5px;
}
figure#banner img{
    width: 100%;
}
article#conteudo{
    width: 60%;
    float: left;
}
aside#coluna{
    width: 35%;
    float: right;
}
footer#rodape{
    width: 100%;
    height: 30px;
    float: left;
    background-color:black;
    text-align: center;
    color: white;
    line-height: 30px;
}